target/
debug/

**/*.so
**/*.o
**/*.ll

fuzzbench
libafl.log
in/
out/

test/bin/*
test/llvm-in/*
test/llvm-out/*

**/*.gdb_history
**/.vscode/*

runtime/bin/*
runtime/llvm/*

*.iso
**/*.iso
benchmark/bin/benchmark.orig
benchmark/bin/benchmark
